@import 'styles/variables';

.header{
  padding: 0 24px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 2;
  width: 100%;
  background: transparent;
  height: $header-height;
  // backdrop-filter: blur(4px);
  // color: rgba(255, 255, 255, 0.2);

  .wrapper{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left{
      mix-blend-mode: exclusion;

      .title{
        font-size: 2rem;
        width: 120px;
        letter-spacing: -0.3rem;
        font-weight: 700;
        // background: linear-gradient(45deg, #f3ec78, #6366f1);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }
    
    .right {
      display: flex;
      flex-direction: row;
      gap: 18px;
      align-items: center;
    
      .menu {
        position: relative;
    
        button {
          // width: 28px;
          // height: 28px;
          display: flex;
          padding: 0;
          margin: 0;
          align-items: center;
        }
    
        .drop {
          width: 200px;
          border-radius: 14px 0 14px 14px;
          padding: 4px;
          background: $black-90;
          // border: 2px solid $primary-black;
          position: absolute;
          right: 0;
          top: 32px;
          display: flex;
          flex-direction: column;
          z-index: 10;
          gap: 4px;

          a{
            cursor: pointer !important;
          }
    
          .item {
            padding: 12px 14px;
            font-size: 16px;
            font-weight: 700;
            // color: $primary-black;
            transition: background .3s ease-in-out;
            border-radius: 8px;
    
            &:hover {
              background: #00000020;
            }
          }
        }
      }
    }
  }
}